.logo{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: right;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}

.container{
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate the first bar */
.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2{
    opacity: 0;
}

/* Rotate last bar */
.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.search-bar{
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    text-align: center;
    border-color: cornflowerblue;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0 , 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}